body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
i:hover {
    cursor: pointer;
}
h1{
    color: rgb(193, 131, 252, 0.8);
}
label{
    color: gray;
    color: rgb(193, 131, 252, 0.8);
    font-size: 1em;
}
.form-check-input:checked{
    background-color: rgba(192, 25, 243, 0.7);
    border-color: rgb(138, 17, 175);
}

.borders{
    border: solid 0.8px !important;
    color: var(--bs-purple) !important;
}
.cabecalho{
    background-color: rgb(193, 131, 252, 0.5);
    color: white;
}
